<div id="page-body"
     class="bg-light-blue d-flex flex-column align-items-center justify-content-start pt-5">
  <app-header-bar class="c-light-purple"
                  [page]="'landing'"></app-header-bar>
  <div class="w-100 d-flex align-items-center justify-content-around px-2">
    <p class="w-50 text-light h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta optio ut rerum
      delectus veniam
      pariatur,
      consectetur nemo sint quia similique, iusto iste nihil. Natus, facere? Veritatis provident error nemo.</p>
    <img src="../../../../assets/imgs/tasks.png"
         alt="tasks management"
         class="align-self-end">
  </div>
</div>