<div id="drop-down">
       <span class="border border-1 rounded"
             (click)="toggleDropdown()">showing: {{filterArray.join(',')}}</span>
       <div class="list-group"
            id="drop-down"
            [ngClass]="[showDropdown ? 'show':'']">
              <label *ngIf="showAll"
                     for="all"
                     class="list-group-item">
                     <input type="{{type}}"
                            id="all"
                            value="all"
                            class="ms-1"
                            (click)="updateFilter('all')"
                            checked> all</label>
              <label class="list-group-item"
                     *ngFor="let user of usersList"
                     for="{{id}}-{{user}}">
                     <input type="{{type}}"
                            id="{{id}}-{{user}}"
                            value="{{user}}"
                            class="ms-1"
                            [attr.name]="type === 'radio'? 'user' : null"
                            (click)="updateFilter(user)"> {{user}}</label>
       </div>
</div>