* {
  font-size: 10px;
}

#tooltip {
  width: 200px;
  height: fit-content;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background-color: white;
  border-radius: 6px;
  color: #999;

  &::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    rotate: 45deg;
    translate: -50% -50%;
    background-color: white;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

}