div {
  form {
    width: 600px;
    height: 100%;

    #box {
      height: 100%;
      background-color: white;

      #area {
        height: 260px;

        textarea {
          height: 200px;
          resize: none;
          border: 1px solid #dee2e6;
        }
      }


      #sides {
        height: 80px;

        p {
          margin: 0;
        }
      }

      label+select,
      label+input[type=date] {
        height: 30px;
        border: 1px solid #dee2e6;
      }
    }
  }

  :host .rows {
    ::ng-deep {
      .mat-grid-tile-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0.5rem;
      }
    }
  }

  :host .button {
    ::ng-deep {
      .mat-grid-tile-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}


#area-field {
  textarea {
    resize: none;
    width: 100%;
    height: 250px;
  }

}

ul {
  list-style: none;
  padding-top: 1rem;

  li:not(:first-child) {
    margin-inline-start: 1rem;
  }
}