<div calss="w-100 h-100">
  <form class="border border-light rounded p-3 bg-danger mb-3 w-100"
        [formGroup]="taskForm"
        (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2"
                   rowHeight="101px">
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Task title</mat-label>
          <input matInput
                 formControlName="title">
          <mat-hint align="end">1:5</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="3">
        <mat-form-field id="area-field"
                        appearance="outline"
                        class="w-100 ps-2">
          <mat-label>Task content</mat-label>
          <textarea matInput
                    placeholder="Add task"
                    formControlName="taskTxt"></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="px-1 "
                     [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Assign to</mat-label>
          <mat-select formControlName="assignee">
            <mat-option *ngFor="let user of withOutMe"
                        [value]="user">{{user}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Choose a date</mat-label>
          <input matInput
                 [matDatepicker]="picker"
                 [min]="TODAY"
                 [value]="TODAY"
                 formControlName="deadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix
                                 [for]="
                 picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Set priority</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 max="5"
                 [(ngModel)]="testValu"
                 formControlName="priority">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1"
                     class="rows">
        <p class="align-self-start text-light">priority: {{testValu}}
        </p>
        <mat-slider class=" w-100"
                    [min]="1"
                    [max]="5"
                    [(ngModel)]="testValu"
                    [ngModelOptions]="{standalone:true}"
                    #sliderValue>
          <input>
        </mat-slider>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1"
                     class="button">
        <button type="submit"
                mat-raised-button
                class="btn btn-success"
                [disabled]="taskForm.invalid"
                [matBadge]="updateNumberOfFields()"
                matBadgeColor="primary"
                matBadgePosition="below after">
          submit
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <section class="bg-warning">
    <mat-card class="me-3 mb-2 float-start fst-italic"
              *ngFor="let task of randomTasks">
      <mat-card-title [ngClass]="task.title == '' ? 'text-secondary' :''">
        {{task.title !== ''? task.title:'No Title'}}</mat-card-title>
      <mat-card-subtitle>
        <span>
          From: {{task.from}}
        </span>
        <span>
          to: {{task.to}}
        </span>
        <span>
          {{task.deadline}}
        </span>
      </mat-card-subtitle>
      <mat-card-content>
        <p class="mb-3">{{task.taskTxt}}</p>
        <hr class="mt-1 mb-2">
        <p>{{task.priority}}</p>
      </mat-card-content>
    </mat-card>
  </section>
  <section id="expansion"
           [matBadge]="numberOfSelects"
           matBadgeOverlap="true">
    <mat-expansion-panel
                         (afterCollapse)="toastAToast('Settings saved',numberOfSelects ===1 ? 'field will be re-filled': 'fields will be re-filled' , numberOfSelects)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          select fields to re-fill after submition
        </mat-panel-title>
        <mat-panel-description>
          <mat-checkbox labelPosition="before"
                        [checked]="allCompleted"
                        [indeterminate]="someCompleted()"
                        (change)="setAll($event.checked)"
                        class="ms-3">
            re-fill all fields
          </mat-checkbox>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="d-flex align-items-center justify-contetn-between">
        <li *ngFor="let checkbox of checkboxes">
          <mat-checkbox [(ngModel)]="checkbox.checked"
                        (ngModelChange)="updateAllComplete()"
                        (change)="updateNumberOfSelects()">
            {{checkbox.name}}
          </mat-checkbox>
        </li>
      </ul>
    </mat-expansion-panel>
  </section>
</div>