<div calss="w-100 h-100">
  <form class="border border-light rounded p-3 bg-danger"
        [formGroup]="taskForm"
        (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2"
                   rowHeight="101px">
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Task title</mat-label>
          <input matInput
                 formControlName="title">
          <mat-hint align="end">1:5</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="3">
        <mat-form-field id="area-field"
                        appearance="outline"
                        class="w-100 ps-2">
          <mat-label>Task content</mat-label>
          <textarea matInput
                    placeholder="Add task"
                    formControlName="taskTxt"></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile class="px-1 "
                     [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Assign to</mat-label>
          <mat-select formControlName="assignee">
            <mat-option *ngFor="let user of withOutMe"
                        [value]="user">{{user}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Choose a date</mat-label>
          <input matInput
                 [matDatepicker]="picker"
                 [min]="TODAY"
                 [value]="TODAY"
                 formControlName="deadline">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix
                                 [for]="
                 picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1">
        <mat-form-field appearance="outline"
                        class="w-100 pe-2">
          <mat-label>Set priority</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 max="5"
                 [(ngModel)]="testValu"
                 formControlName="priority">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1"
                     class="rows">
        <p class="align-self-start text-light">priority: {{testValu}}
        </p>
        <mat-slider class=" w-100"
                    [min]="1"
                    [max]="5"
                    [(ngModel)]="testValu"
                    [ngModelOptions]="{standalone:true}"
                    #sliderValue>
          <input>
        </mat-slider>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
                     [rowspan]="1"
                     class="button">
        <button type="submit"
                mat-button
                class="btn btn-success"
                [disabled]="taskForm.invalid"
                [matBadge]="updateNumberOfFields()"
                matBadgeColor="primary"
                matBadgePosition="below after">
          submit
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <section>
    <mat-checkbox labelPosition="before"
                  [checked]="allCompleted"
                  [indeterminate]="someCompleted()"
                  (change)="setAll($event.checked)">
      reset fields
    </mat-checkbox>
    <ul>
      <li *ngFor="let checkbox of checkboxes">
        <mat-checkbox [(ngModel)]="checkbox.checked"
                      (ngModelChange)="updateAllComplete()">
          {{checkbox.name}}
        </mat-checkbox>
      </li>
    </ul>
  </section>
</div>