table {
  width: calc(100% - 216px);
  margin-left: 216px;
  border-collapse: collapse;
  height: 100%;

  th,
  td {
    width: calc(25% / 2);
    padding: 10px;
    border: 1px solid #000;
    text-align: left;
    vertical-align: middle;

    p {
      margin: 0;
    }
  }

  th {
    background-color: #333;
    color: #fff;
  }

  th:first-child,
  td:first-child {
    width: 5%;
  }

  th:last-child,
  td:last-child {
    width: 20%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 50%;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .btn {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;

    &.btn-secondary {
      background-color: #6c757d;
      color: #fff;
    }

    &.btn-danger {
      background-color: #dc3545;
      color: #fff;
    }

    &.btn-info {
      background-color: #17a2b8;
      color: #fff;
    }
  }
}